:root {
  --title-color: #322153;
  --btn-color: #7ADC77;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3,h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

#page-home {
  background: url(../assets/home-background.svg) no-repeat;
  height: 100vh;
  background-position: 45vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#page-home header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

#page-home header a {
  display: flex;
  font-weight: 700;
  color: var(--title-color);
  align-items: center;
}


#page-home header a span {
  background-image: url(../assets/log-in.svg);
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
}

#page-home main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: 560px;
}

#page-home main h1{
  font-size: 54px;
}

#page-home main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#page-home main a {
  background: var(--btn-color);
  width: 100%;
  height: 72px;
  max-width: 360px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  transition: 400ms;
}

#page-home main a:hover {
  background-color: #2fb85e;
}

#page-home main a span {
  width: 72px;
  height: 72px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home main a span::after  {
  content: "";
  background-image: url(../assets/search.svg);
  width: 20px;
  height: 20px;
}

#page-home main a strong {
  color: white;
  text-align: center;
  flex: 1;
}

@media (max-width: 900px) {
  #page-home {
    background-position: 70vw;
  }
  #page-home .content {
    align-items: center;
    text-align: center;
  }
  #page-home header a {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  #page-home main {
    align-items: center;
  }
}
